@model List<EagleDigital.Web.Areas.Music.Models.SongModelView>

<div class="col-xs-12">
 
    @foreach(var item in Model)
    {
        <text>
            <div class="row">
                <a onclick="Play(@item.Link)" style="color: #33336C;cursor:pointer">@item.Name</a>
            </div>
        </text>
    }
 
</div>