/* Large desktop */
@media (min-width: 1200px) {
    
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .login .three-column .content-middle .content-sidebar-left,
    .login .three-column .content-middle .section-right {
        width: 100%;
    }
    .content-middle .profile-user .img-cover .img-user img {
        height: auto;
    }
    .content-middle .profile-user .img-cover .img-user {
        width: 75px!important;
        height: 75px!important;
        margin-top: 5px!important;
        top: 0!important;
    }
    .content-middle .profile-user .img-cover .infomation {
        left: 120px!important;
        height: 122px!important;
        top: 5px!important;
        margin-top: 0!important;
    }
    .content-middle .profile-user .img-cover .infomation .button a {
        padding: 0 10px!important;
    }
    .content-middle .profile-user .img-cover .infomation .button a img {
        display: none;
    }
    .two-column .content-middle.container-475 {
        left: 15%!important;
    }
    .three-column .content-middle #form-signup .form-475 {
        width: auto!important;
        margin-left: 0!important;
        padding: 0 15px;
    }
    .form-upload .form-475 ul {
        margin-top: 10px!important;
    }
    .section-right {
        padding: 0 15px!important;
    }
    .content-middle .tab table tr td.name {
        max-width: 150px!important;
    }
    .content-middle .tab table tr td,
    .content-middle .tab table tr th {
        max-width: 20px;
        padding-left: 0!important;
        padding-right: 5px!important;
    }
    .section-right {
        max-height: none!important;
        overflow: visible!important;
    }
    .upload.playlist .item {
        width: 100%!important;
    }
    #calendar .editor {
        height: auto!important;
    }
    #calendar .editor a {
        display: block!important
    }
    #calendar .editor i {
        display: none;
    }
    #calendar table tr td.fc-event-container a:before{
        display: none!important;
    }
    div.custom-col-md-7-5 {
        width: 100%!important;
        float: left;
    }
    aside.custom-col-md-4-5 {
        width: 100%!important;
        float: left;
    }
    section#list-upload-mix td.mix-name {
        min-width: 200px;
        max-width: 200px;
    }
    section#list-upload-mix td.duration {
        min-width: 107px;
        max-width: 108px;
    }
    section#list-upload-mix td.time {
        min-width: 107px;
        max-width: 108px;
    }
    section#list-upload-mix td.edit {
        max-width: 77px;
        min-width: 76px;
    }
    
}
 @media (min-width: 768px) and (max-width: 1024px) {
     .content-middle #PlayList .upload.playlist .table tbody tr td p {
         max-width: 70px!important;
     }
     .jp-play {
         float: left !important;
     }
     .jp-stop,.jp-previous,
.jp-next {
          float: left !important;
         margin-top: 10px!important; 
     }

         .jp-play2 {
        top: -40px!important;
    }

 }
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .row-desktop{
        margin: 0;
    }
    .padding-left-7-desktop {
        padding-left: 15px;
    }
    .main-content.edit-list-upload aside ul {
        max-height: none!important;
        height: auto!important;
    }
    /* del scroll */
    .scrollable .viewport {
        height: auto!important;
    }
    .scrollable .viewport .overview {
        position: static!important;
    }
    /* end del scroll */


    
    aside.sidebar-right .playlist.audio .item .info h4 {
        width: 100%!important;
    }
    .upload.playlist.mixes .playlist {
        min-height: 562px!important;
    }
    .content-sidebar-left .infomation-user {
        padding-left: 0!important;
    }
    .widget-tw iframe {
        width: 100%!important;
    }
    aside.sidebar-right .playlist .item .info h4 {
        width: 60%!important;
    }
    .relative {
        float: none!important;
    }
    section#list-upload-mix td.mix-name {
        min-width: 150px!important;
        max-width: 149px!important;
    }
    section#list-upload-mix td.duration {
        min-width: 60px!important;
        max-width: 59px!important;
    }
    section#list-upload-mix td.time {
        min-width: 60px!important;
        max-width: 59px!important;
    }
    section#list-upload-mix td.edit {
        max-width: 50px!important;
        max-width: 49px!important;
    }
    div.custom-col-md-7-5 {
        width: 100%!important;
        padding: 0!important;
    }
    aside.custom-col-md-4-5 {
        width: 100%!important;
        padding: 0!important;
        float: left;
    }
    .section-right {
        height: auto!important;
    }
    .recovery-password .col-sm-9 {
        padding-left: 15px!important;
    }
    #calendar table tr td.fc-event-container a:before{
        display: none!important;
    }
    #calendar .editor {
        height: auto!important;
    }
    #calendar .editor a {
        display: block!important
    }
    #calendar .editor i {
        display: none;
    }
    .content-middle.calendar {
        padding: 0!important;
    }
    .upload.playlist .item .info h4 {
        white-space: normal!important;
        width: 100%!important;
        padding-right: 50px;
        box-sizing: border-box;
    }
    .upload.playlist .item {
        float: none!important;
        width: 100%!important;
    }
    .section-right {
        max-height: none!important;
        overflow: visible!important;
    }
    .content-middle #form-signup.form-upload,
    .has-background .three-column .content-middle {
        min-height: 0!important;
    }
    body.two-column aside.sidebar-left {
        float: none!important;
        min-height: 0!important;
    }
    .three-column .content-middle #form-signup .form-475 {
        width: auto!important;
        margin-left: 0!important;
        padding: 0 15px;
    }
    .form-upload .form-475 ul {
        margin-top: 10px!important;
    }
    .login header .navbar-mobile nav {
        min-height: 0!important;
    }
    .section-right .tracklist .col-xs-12{
        float: none;
    }
    .two-column .content-middle.container-475 {
        left: 0!important;
        display: block!important;
        width: 100%!important;
        margin-left: 0!important;
        padding: 0!important;
        box-sizing: border-box;
    }
    .two-column .content-middle.container-475 #form-signup {
        padding: 0 15px;
    }
    .content-middle .profile-user .img-cover .img-user {
        width: 75px!important;
        height: 75px!important;
        margin-top: 5px!important;
        top: 0!important;
    }
    .content-middle .profile-user .img-cover .infomation {
        left: 120px!important;
        height: 122px!important;
        top: 5px!important;
        margin-top: 0!important;
    }
    .content-middle .profile-user .img-cover .infomation .button a {
        padding: 0 10px!important;
    }
    .content-middle .profile-user .img-cover .infomation .button a img {
        display: none;
    }
    .login aside.sidebar-left .categories {
        padding: 20px;
    }
    .login aside.sidebar-left,
    .login .three-column .content-middle,
    .login aside.sidebar-right {
        display: block!important;
        width: 100%!important;
        margin: 0!important;
    }
    .content-sidebar-left,
    .login .three-column .content-middle .section-right {
        float: none!important;
        width: 100%;
    }
    .login aside.sidebar-right,
    .login .three-column .content-middle .section-right {
        padding: 15px!important;
    }
    .login aside.sidebar-right .title {
        margin-top: 0;   
    }
    .login .three-column .content-middle .content-sidebar-left,
    .login .three-column .content-middle .section-right {
        width: 100%;
    }
    .flexslider ul li .slide-title, 
    .flexslider ul li p {
        font-size: 15px!important;
    }
    .flexslider ul li p {
        left: 70px!important;
    }
    header .navbar-toggle {
        border: 1px solid #fff;
        margin-right: -5px;
    }
    .navbar-toggle .icon-bar {
        background: #fff;
    }
    header #logo {
        position: absolute;
        left: 0;
        top: 0;
        z-index: 9;
    }
    header form input[type="text"] {
        margin-bottom: 14px;
        margin-left: 10px!important;
    }
    .navbar-mobile {
        width: 100%;
        text-align: center;
    }
    .navbar-mobile .nav-login {
        margin: 0;
    }
    .navbar-mobile nav {
        text-align: center;
    }
    .navbar-mobile nav .nav-login,
    .navbar-mobile nav .setting {
        display: inline-block;
        float: none!important;
        vertical-align: middle;
    }
    .navbar-mobile nav .setting >a {
        margin: 0;
        padding: 0 15px;
        height: 33px;
        line-height: 33px;
    }
    header .nav-login li a {
        margin-bottom: 0!important;
    }
    .navbar-mobile nav .nav-login li {
        display: inline-block
    }
    .navbar-mobile nav .nav-login li.location ul li{
        display: block!important;
    }
    header .setting ul {
        width: 120px!important;
        margin: 0!important;
    }
    header .setting.open:before {
        margin-top: -5px!important;
    }
    #introduction .list-intro {
        margin-bottom: 20px;
    }
    .login header #logo {
        background: transparent!important;
    }
    .login .content-middle {
        margin-left: 150px!important;
    }
    .login .content-middle {
        padding-left: 0!important;
    }
    .collapse.in{
        overflow: visible;
    }
    .navbar-nav .location.open:before {

    }
    .navbar-nav .location.open .dropdown-menu {
        position: absolute;
        background: #9a9aa4;
        margin: 0;
        padding: 6px 0 10px 0;
        border-radius: 0;
        width: 120px;
        border: none;
    }
    .navbar-nav .location.open .dropdown-menu li a {
        font-size: 11px;
        color: #17171f;
        padding: 3px 0 0 11px;
    }
    .login aside.sidebar-left .categories ul {
        overflow: hidden;
    }
    .login aside.sidebar-left .categories ul li {
        display: inline-block;
        width: 49%;
    }
    .login header .navbar-mobile {
        width: 100%!important;
    }
    .three-column .content-middle #form-signup .form-475 .form-group:last-child {
        margin-bottom: 0;
    }
    .content-middle .tracklist .col-xs-12 {
        float: none;
    }
    /* video */
    .jp-video,
    div#jquery_jplayer_1 {
        width: auto!important;
    }
    .djmix-buttons {
        margin-left: 0!important;
        margin-top: 30px!important;
    }
    .privacy-policy #navbar-example2,
    .privacy-policy .scrollspy-example {
        float: none!important;
    }
    .content-middle.help .privacy-policy .navbar-collapse {
        box-shadow: none;
    }
    .content-middle.help {
        margin-left: 0!important;
        padding: 0 10px!important;
    }
    .privacy-policy .scrollspy-example {
        height: auto!important;
        overflow: visible;
    }
    .form-signup-user .help-txt {
        position: static!important;
    }
    aside.sidebar-right .playlist.audio .item .info .play >a {
        background-position: 100% 50%!important;
    }
    .section-right .tracklist .scrollbar {
        max-height: none!important;
        height: auto;
    }
    .djmix-buttons {
        width: 100%!important;
    }
    .form-login-social .social-fb {
        background-position: 0 0;
        text-align: left;
        display: inline-block;
        margin-bottom: 10px;
    }
    .form-login-social,
    .form-signup-social {
        text-align: center;
    }
    .form-signup-social .social-fb {
        display: inline-block;
        background-position: 0 0;
        padding: 0;
        height: 30px;
        margin-bottom: 10px;
    }
}
/* Landscape phones and down */
@media (max-width: 480px) {
    .login .content-middle #form-signup h4 {
        padding-top: 20px;
    }
    iframe#twitter-widget-1 {
        width: 320px !important;
        margin: auto;
    }
    .widget-tw {
        overflow: auto;
        text-align: center;
    }
    .form-setting textarea,
    .content-middle #form-signup.form-upload textarea,
    .form-profile textarea {
        max-width: 100%;
        width: 100%;
    }
    
    .custom-col-md-4-5 .scrollbar {
        width: 100%;
    }
    td.fc-widget-content table,
    .fc-unthemed .fc-today.has-border:after {
        height:140px!important;
    }
    .content-middle .tab table tr th {
        padding-left: 0!important;
        padding-right: 5px!important;
    }
    #form-signup.form-login .social-button .social-fb,
    #form-signup.form-login .social-button .social-tw {
        text-align: center!important;
    }
    .paging {
        position: static!important;
        margin: 5px 0;
    }
    section#list-upload-mix td.mix-name {
        min-width: 90px!important;
        max-width: 99px!important;
    }
    section#list-upload-mix td.duration {
        min-width: 60px!important;
        max-width: 59px!important;
    }
    section#list-upload-mix td.time {
        min-width: 60px!important;
        max-width: 59px!important;
    }
    section#list-upload-mix td.edit {
        max-width: 50px!important;
        max-width: 49px!important;
    }
    #listAuthor > div {
        white-space: normal!important;
    }
    .fc-day-grid-container {
        height: auto!important;
    }
    .fc-day-grid-event .fc-content {
        white-space: normal!important;
    }
    #calendar table tr td a {
        font-size: 10px!important;
    }
    .content-middle .tab table tr td, 
    .content-middle .tab table tr td a {
        font-size: 12px!important;
    }
    .content-middle .tab table tr td {
        max-width: 20px;
        padding-left: 0!important;
        padding-right: 5px!important;
    }
    .three-column .content-middle #form-signup .form-475 {
        width: auto!important;
        margin-left: 0!important;
        padding: 0;
    }
    .form-upload .form-475 ul {
        margin-top: 10px!important;
    }
    body.dj-bg:before {
        display: none;
    }
    .content-middle .profile-user .img-cover,
    .content-middle .profile-user .img-cover img {
        min-height: 120px;
    }
    .content-middle .profile-user .img-cover .img-user {
        display: none;
    }
    .content-middle .profile-user .img-cover .infomation .button {
        width: 100%;
    }
    .content-middle .profile-user .img-cover .infomation {
        left: 5%!important;
        width: 90%;
    }
    .flexslider ul li .slide-title, 
    .flexslider ul li p {
        font-size: 13px!important;
        left: 10px!important;
        width: 90%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    .form-search{
        width: 100%;
    }
    header .form-search form {
        padding: 0 10px;
    }
    header .form-search form input[type="text"] {
        width: 100%;
        margin: 14px 0!important;
    }
    /* choose-type */
    .choose-type {
        text-align: center;
    }
    #form-sign-up.choose-type form a {
        margin: 0 8px 15px 8px!important;
    }
    .login aside.sidebar-left {
        position: static!important;
        width: 100%!important;
    }
    .login .content-middle {
        max-width: 100%;
        margin-left: 0!important;
    }
    .sidebar-left .profile {
        margin-top: 10px!important;
    }
    .login .content-middle #form-signup{
        padding: 0 15px;
    }
}
@media (min-width: 768px){
    .form-horizontal .control-label{
        padding-top: 4px;
    }
}
@media (max-height: 769px) and (min-width: 769px) {
    body.has-audio {
        padding-bottom: 95px;
    } 

}

@media (min-width: 320px)and (max-width: 768px){
     .content-middle #PlayList .upload.playlist .table tbody tr td p {
         max-width: 70px!important;
     }

    .jp-play2 {
        top: -45px!important;
    }

    header #form-search {
    transform: translateX(0)!important;
    -moz-transform: translateX(0)!important;
    -webkit-transform: translateX(0)!important;
    }
    #twitter-widget-1 {
    width: 100%!important;
    overflow: hidden!important;
}

    .widget-tw {
        overflow: hidden!important;
    }
    .tracklist,
    #pnl-listupload,
    #recent-activity-holder{
        overflow: auto!important;
    }
    #create-edit-playlist h2.title {
        word-break: break-all;
    }
}